body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ea5;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.contact-item > a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}

.contact-number:hover,
.contact-number:focus {
  color: #404bbf;
}
.slogan {
  background-color: #2e2f42;
}
.slogan-name {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}
.buy-btn {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ea5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.buy-btn:hover,
.buy-btn:focus {
  background-color: #404bbf;
}
.visually-hidden {
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.features-text {
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-description {
  color: #434455;
}
.portfolio {
  background-color: #ffffff;
}
.cases {
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.cases-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.cases-description {
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ea5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-accent {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
}
