body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header {
    background-color: #ffffff;
}

.header-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.accent {
    color: #2e2f42;
}

.header-list-item {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.header-menu-link:hover, 
.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link {
    color:#2e2f42;
}

.contacts {
    font-style: normal;
}

.direct-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.direct-link:hover,
.direct-link:focus {
    color: #404bbf;
}

.slogan {
    background-color: #2e2f42;
}

.slogan-name {
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.buy {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.buy:hover,
.buy:focus {
    background-color: #404bbf;
}

.features-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #f4f4fd;
}

.team-name {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    background-color: #ffffff;
}

.team-list-member {
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio {
    background-color: #ffffff;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.case-name {
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.case-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.foot-logo-accent {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}